@layer components {
  .rnx-image-cropper {
    border-radius: var(--radius);
  }

  .rnx-image-cropper-canvas {
    background-color: var(--muted);
    border-radius: var(--radius);
  }

  .rnx-image-cropper-controls {
  }

  .rnx-image-cropper-actions {
  }
}
