@layer components {
  .rnx-sortable-list {
    border-radius: var(--radius);
  }

  .rnx-sortable-item {
    border-radius: calc(var(--radius) - 2px);
    transition-property: opacity;
    transition-duration: 200ms;
  }

  .rnx-sortable-item--dragging {
    opacity: 0.4;
    z-index: var(--z-modal);
  }

  .rnx-sortable-item--indicator-top {
    border-top: 2px solid var(--primary);
  }

  .rnx-sortable-item--indicator-bottom {
    border-bottom: 2px solid var(--primary);
  }

  .rnx-sortable-item--indicator-left {
    border-left: 2px solid var(--primary);
  }

  .rnx-sortable-item--indicator-right {
    border-right: 2px solid var(--primary);
  }

  .rnx-sortable-item--indicator-top::before,
  .rnx-sortable-item--indicator-bottom::before {
    content: "";
    position: absolute;
    left: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primary);
    z-index: var(--z-component);
  }

  .rnx-sortable-item--indicator-top::before {
    top: -5px;
  }

  .rnx-sortable-item--indicator-bottom::before {
    bottom: -5px;
  }

  .rnx-sortable-item--indicator-left::before,
  .rnx-sortable-item--indicator-right::before {
    content: "";
    position: absolute;
    top: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primary);
    z-index: var(--z-component);
  }

  .rnx-sortable-item--indicator-left::before {
    left: -5px;
  }

  .rnx-sortable-item--indicator-right::before {
    right: -5px;
  }

  .rnx-sortable-drag-handle {
    color: var(--muted-foreground);
    cursor: grab;
  }

  .rnx-sortable-drag-handle:hover {
    color: var(--foreground);
  }

  .rnx-sortable-drag-handle:active {
    cursor: grabbing;
  }
}
